// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@OpenSans: 'Open Sans', sans-serif; //font-family;

//COlORS
@MainColor: #957B5F;
html{
	font-size: 10px;
}

header{
	nav{
		//position:fixed;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		background: transparent;
		transition: background 0.4s ease;
/* 		&.active{
	transition: background 0.4s ease;
	background: #2C2C2C;
} */
		ul.menu-list{
			padding: 20px;
			margin: 0;
			li{
				list-style: none;
				//border: 1px solid #ccc;
				text-align: center;
				padding: 10px;
				margin-right: 40px;
				a{
					color: #FFF;
					text-decoration: none;
					font-family: @OpenSans;
					font-weight: 400;
					font-size: 1.4em;
					//text-transform: uppercase;
					outline: none;
					&:hover{
						color:#ccc;
					}
				}
			}
		}
		
	}
	//Кнопка меню
		.menu-button{
			position: absolute;
			top: 2em;
			left: 2em;
			z-index: 999;
			cursor: pointer;
			display: inline-block;
			vertical-align:top;//убираем отступ с низу у inline-block
			&:hover{
				span.menu-line>span{
					left: 0;	
				}
			}
			/* Белые спаны */
			span.menu-line{
				height: 5px;
				width: 30px;
				background: white;
				display: block;
				position: relative;
				overflow: hidden;
				&.mid{
					margin: 4px 0;
				}
				/* Синий спаны */
				span{
					transition: left 0.3s ease-out 0s;
					position: absolute;
					top: 0;
					left: -30px;
					height: inherit;
					width: inherit;
					background: #0FAEDE;
					&.mid{
						transition-delay: 0.1s;
					}
					&.bot{
						transition-delay: 0.3s;
					}
				}
			}
		}//кнопка меню
	.masthead{
		height: 100vh;
		background: url(../img/mastheadbg28.jpg) no-repeat fixed;
		background-position: bottom;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: #fff;
		font-family: @OpenSans;
		.masthead-text{
			display: inline-block;
			padding: 2.5em 4em;
			h1{
				font-weight: 700;
				font-size: 9em;
				// text-shadow: -1px 2px 6px #000;
			}
			h2{
				font-weight: 300;
				font-size: 2.5em;
			}
			span{
				font-weight: 700;
				//color: #2B2B2B;		
			}	
		}
		.go-down{
			padding-bottom: 30px;	
			position: absolute;
			a{	
				color: #fff;
				text-align: center;
				outline: none;
				img{
					width: 6em;
				}
				i{
					font-size: 6em;
					-webkit-animation: 0.9s cubic-bezier(0, 0, 0, 0) infinite finger_tuch;
	     			-moz-animation: 0.9s cubic-bezier(0, 0, 0, 0) infinite finger_tuch;
	      			 -o-animation: 0.9s cubic-bezier(0, 0, 0, 0) infinite finger_tuch;
	         		 animation: 0.9s cubic-bezier(0, 0, 0, 0) infinite finger_tuch;
				}
			}
		}

		@media screen and (max-width: 576px){
			background-position: center;
			background-size: cover;
			.masthead-text{
				h1{
					font-size: 6em;
				}
				h2{
					font-size: 2em;
				}
			}

		}
	}
}
.skills{
	background: #2B2B2B;
	height: 715px;
	.test{
		height: 50vh;
		background: #fff;
		border: 1px solid #000;
		color: #000;
		position: relative;
		top: -85px;
		//padding: 10%;
	}
}

@keyframes finger_tuch{
0%{
	transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
}
    100% {
	transform: translateY(3px);
    -webkit-transform: translateY(3px);
    }
}